.blue{
    background-color: paleturquoise;
    border: solid;
    width: 50%;
}

.red{
    background-color: red;
    border: solid;
    width: 50%;
}

.big{
  font-weight: bold;
}

.evenRow{
    background-color: #e4f5f9;
}

.oddRow{
    background-color: #f6f6f7;
}

.tab{
  margin-right: 5px;
}

.space{
  padding-top:5px;
}